
.contador{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.contador button{
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
    background-color: #ad2e65d1;
    color: white;
}
.contador span{
    padding: 0px 5px;
}
.comprar{
    display: flex;
    justify-content: center
}
.btn-card{
    width: 100%;
    background-color: #ad2e65d1;
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
}