header{

  position: fixed;
  z-index: 1;
  padding: 10px 0px;
  align-items: center;
  /**desfumado*/
  background: #76767634;
  box-shadow: 0 8px 32px 0 #1f268738;
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 0px 0px 20px 20px;
}
.main-style{
  padding: 0;
}
h2{
  text-align: center;
  padding: 10px 0px 30px 0px ;
}